name: Functional Tests

on: [pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    # https://github.com/actions/runner-images/tree/main/images/macos
    strategy:
      matrix:
        include:
        - xcodeVersion: '15.4'
          osVersion: macos-14
        - xcodeVersion: '16.4'
          osVersion: macos-15
        - xcodeVersion: '26.1'
          osVersion: macos-26

    env:
      CI: true
      _FORCE_LOGS: 1
    # https://github.com/actions/runner-images/tree/main/images/macos
    runs-on: ${{ matrix.osVersion }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v6
    - name: Setup Node.js
      uses: actions/setup-node@v6
      with:
        node-version: 'lts/*'
    - name: Setup Xcode
      uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: "${{ matrix.xcodeVersion }}"
    - name: Install dev dependencies
      run: npm install
    - name: Run e2e tests on Xcode@${{ matrix.xcodeVersion }}
      run: npm run e2e-test
