name: Unit Tests

on: [pull_request, push]

jobs:
  node_matrix:
    uses: appium/appium-workflows/.github/workflows/node-lts-matrix.yml@main

  test:
    needs:
    - node_matrix
    strategy:
      matrix:
        node-version: ${{ fromJSON(needs.node_matrix.outputs.versions) }}
    runs-on: macos-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v6
    - name: Setup Node.js
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}
    - uses: SocketDev/action@v1
      with:
        mode: firewall-free
    - name: Install dev dependencies
      run: sfw npm install --no-package-lock
    - name: Run linter
      run: npm run lint
    - name: Run unit tests
      run: npm run test
